/* CSS code to be used on the grapherrd monitoring pages */
/* This CSS file is to be used along with monitoring.css for best results */

/* Body */
body {
  font-family: Arial, Geneva, sans-serif;
}
/* Links */
a:link {
  color: #990033;
  background: #FFFFFF;
}
h1 a {
  text-decoration: none;
}

a:visited {
  color: #000000;
  background: #FFFFFF;
}

a:hover {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

/* Left menu */
#menu {
  width: 17%;
  float: left;
  font-size: small;
  text-align: justify;
}
h1 {
  text-align: center;
  margin-top: 0;
}
h3 {
  margin: 1em 0 0.2em 0;
}
#menu ul {
  margin-top: 0;
}
table.menu {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}
th.top, table.summary th.top {
  text-align: center;
}
td.first, #th_graph {
  text-align: right;
}
p.menu {
  padding: .5em;
}

/* Graph pages */
h2 {
  text-align: center;
  margin-top: 0;
  padding-right: 150px;
}
#page {
  float: right; 
  width: 83%;
  text-align: center;
  font-size: small;
}
#page img {
  padding-right: 150px;
}

/* Summary pages */
table.graph h3 {
  margin: 0;
}
table.summary {
  border: 1px solid #000000;
  width: 100%;
  margin: 0;
  padding: 0;
}
table.summary th {
  text-align: right;
  vertical-align: top;
}
table.summary td {
  text-align: left;
}
p.summary {
  font: x-small monospace;
  white-space: pre;
  margin: 0;
  padding: 0;
}
ul#pageindex {
  font: xx-small;
  text-align: right;
  direction: RTL;
  position: fixed;
  top: 1em;
  right: 2em;
  margin: 0;
  padding: 0;
  opacity: 0.6;
}
li#summary {
  padding-top: 1em;
}
#page table.graph img {
  padding-right: 0px;
}

/* Webforms */
input {
  font-size: x-small;
}

/* Footer */
#menufooter {
  text-align: center; 
  padding-top: 2em;
}
#footer {
  clear: both;
  width: 50em;
  text-align: center; 
  padding-top: 5em;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}
#footer p {
  margin: 0;
}
