/* CSS code to be used on the grapherrd monitoring pages */
/* This CSS file is to be used along with monitoring.css for best results */

/* Body */
body {
  font-family: Arial, Geneva, sans-serif;
  pointer-events: none;
}
/* Links */
a:link {
  color: #990033;
  background: #FFFFFF;
}
h1 a {
  text-decoration: none;
}

a:visited {
  color: #000000;
  background: #FFFFFF;
}

a:hover {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

/* Left menu */
#menu {
  width: 17%;
  float: left;
  font-size: small;
  text-align: justify;
  pointer-events: auto;
}
h1 { /* main title on the left */
  text-align: center;
  margin-top: 0;
}
#menu ul {
  margin-top: 0;
}
table.menu {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}
th.top, table.summary th.top {
  text-align: center;
}
td.first, #th_graph {
  text-align: right;
}
p.menu {
  padding: .5em;
}

/* Graph pages */
h2 { /* graph title in the middle */
  text-align: center;
  background: #FFFFFF;
  width: 50%;
  margin: 0 auto 1em auto;
}
h3 { /* menu titles */
  margin: 1em 0 0.2em 0;
}
#page {
  float: left;
  width: 83%;
  text-align: center;
  font-size: small;
  margin-bottom: 3em;
}

/* Summary pages */
table.graph h3 {
  margin: 0;
}
table.summary {
  border: 1px solid #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}
table.summary th {
  text-align: right;
  vertical-align: top;
}
table.summary td {
  text-align: left;
}
p.summary {
  font: x-small monospace;
  white-space: pre;
  margin: 0;
  padding: 0;
}
li#summary {
  padding-top: 1em;
}
#page table.graph img {
  padding-right: 0px;
}

/* Right index */
ul#pageindex {
  font-size: small;
  text-align: right;
  direction: RTL;
  position: fixed;
  top: 1em;
  right: 2em;
  margin: 0;
  padding: 0;
  z-index: -1;
  pointer-events: auto;
}

/* Webforms */
input {
  font-size: x-small;
}

/* Footers */
.footer {
  text-align: center; 
  border-top: dotted 1px;
  border-bottom: dotted 1px;
  padding: 1em;
  margin-top: 2em;
}
#pagefooter {
  width: 70em;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  pointer-events: auto;
}
.footer p {
  margin: 0;
}
